* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "logo navbar"
        "konten konten"
        "footer footer";
}

.logo {
    grid-area: logo;
    text-align: center;
    background: black;
    height: 50px;
    color: white;
    position: relative;
}

.logo span {
    color: rgb(133, 6, 6);
}

.logo h2 {
    position: relative;
    top: 8px;
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background: black;
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 8px;
    text-transform: capitalize;
    top: 16px;
    position: relative;
}

.navbar li a:hover {
    color: rgb(133, 6, 6);
    border-bottom: 2px solid rgb(133, 6, 6);
    transition: all .35s ease-in-out;
}

.navbar ul li {
    list-style: none;
}

/* konten home */
.konten {
    grid-area: konten;
    background: url(assets/foto2.jpg) center center;
    height: 600px;
    background-size: cover;
    position: relative;
}

/* konten profile */
.konten1 {
    grid-area: konten;
    background: url(assets/foto1.jpg) center center;
    height: 600px;
    background-size: cover;
    position: relative;
}

/* konten gallery */
.konten2 {
    grid-area: konten;
    background: url(assets/foto3.JPG)center center;
    background-size: cover;
    height: 600px;
    position: relative;
}

/* konten contact */
.konten3 {
    grid-area: konten;
    background: url(assets/logo-gilex.jpg)center;
    height: 600px;
    background-size: cover;
    position: relative;
}

/* card home */
.card {
    color: rgb(133, 6, 6);
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0.1px black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card h2 {
    font-size: 30px;
    position: relative;
    top: 10px;
    text-transform: capitalize;
}

.card p {
    font-size: 20px;
    position: relative;
    top: 40px;
}

.card img {
    border: 2px solid rgb(133, 6, 6);
    border-radius: 100px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    position: relative;
    top: 20px;
    box-shadow: 1px 1px 9px 1px rgb(24, 23, 23);
}

/* card menu profile */
.card-profile {
    background-color: #fff;
    color: rgb(133, 6, 6);
    height: 400px;
    width: 600px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    box-shadow: 0 10px 20px 1px black;
}

.card-profile img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    height: 400px;
    object-fit: cover;
}

.card-profile h2 {
    position: absolute;
    left: 45%;
    top: 5%;
    font-size: 20px;
}

.card-profile p {
    position: absolute;
    top: 20%;
    left: 39%;
    font-size: 17px;
}

.card-profile li {
    position: relative;
    left: 45%;
    top: 45%;
    font-size: 17px;
}

.card-profile a {
    color: rgb(133, 6, 6);
    text-transform: none;
}

.note {
    position: relative;
    left: 40%;
    top: 60%;
    text-transform: none;
    color: black;
}

/* card gallery */
.konten-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.my-gallery {
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid ;
    position: relative;
    top: 20px;
}

.card-photo img,
video {
    margin-top: 45px;
    margin-bottom: 30px;
    height: 180px;
    width: 260px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px 1px black;

}

.card-photo video:hover {
    transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s;
    border: 2px solid rgb(133, 6, 6);
    box-shadow: 0 0 10px 1px rgb(133, 6, 6);
}

.card-photo img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border: 2px solid rgb(133, 6, 6);
    box-shadow: 0 0 10px 1px rgb(133, 6, 6);
}

/* card client */
.card-client {
    background: rgb(133, 6, 6);
    width: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 6px 10px rgb(255, 255, 255);
    box-shadow: 0 6px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

/* .card-client:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
} */

.user-picture {
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #ffffff;
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

.user-picture img {
    width: 200px;
    fill: currentColor;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #ffffff;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 1.1rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    -webkit-transform: translate(-50%, -130%);
    -ms-transform: translate(-50%, -130%);
    transform: translate(-50%, -130%);
}
.footer {
    grid-area: footer;
    background-color: black;
    height: 80px;
    box-shadow: 0 0 10px 2px;
}
.footer h2 {
    position: relative;
    font-size: 12px;
    top: 30px;
    text-align: center;
    color: white;
}
/* rwd */
@media only screen and (min-width: 682px){
    .card-photo img,video{
        width: 200px;
        height: 200px;
    }
}
@media  only screen and (max-width: 678px) {
    body{
        overflow: auto;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "logo"
            "navbar"
            "konten"
            "footer";
    }
    .card{
        width: 340px;
        height: 350px;
    }
    .card h2{
        font-size: 23px;
    }
    .card p{
        font-size: 16px;
    }

    .card-profile{
        width: 340px;
        height: 350px;
    }
    .card-profile h2{
        font-size: 14px;
        left: 130px;
    }
    .card-profile p{
        font-size: 11px;
        left: 130px;
    }
    .card-profile li{
        font-size: 11px;
        left: 125px;
    }
    .note{
        font-size: 12px;
        left: 130px;
    }
    .card-profile img{
        width: 120px;
        height: 350px;
    }
    .konten-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    
    .my-gallery {
        text-align: center;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        position: relative;
        top: 10px;
        font-size: 17px;
    }
    
    .card-photo img,
    video {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 130px;
        width: 130px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 0 10px 1px black;
    
    }
    .card-client {
        width: 15rem;

    }
    
}